<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

</head>
<body>
    <h1>
        <b>KEYBOARD</b>
    </h1>
        <table class="center">
            <tr style="
                text-align :center;">
                <td rowspan="2" colspan="2">
                    <div><a class="gradient-btn" href="/left" ><img src="../static/images/icons8-home-page-32.png" alt="" />X</a></div>
                </td>
                <td rowspan="2" colspan="3">
                    <div><a class="gradient-btn" href="/left" ><img src="../static/images/icons8-collapse-arrow-64.png" alt=""/></a></div>
                </td>
                <td rowspan="2" colspan="2">
                    <div><a class="gradient-btn" href="/left" ><img src="../static/images/icons8-home-page-32.png" alt=""  />Y</a></div>
                </td>
                <td>
                    <div><a class="gradient-btn" href="/right" ><img src="../static/images/icons8-collapse-arrow-32.png" alt=""/></a></div>
                </td>
                <td>
                    <div><a class="gradient-btn" href="/right" ><img src="../static/images/icons8-collapse-arrow-32.png" alt=""/></a></div>
                </td>
            </tr>





            <tr style="
                text-align :center;">
                <td>
                    <div><a class="gradient-btn" href="/right" >1</a></div>
                </td>
                                <td>
                    <div><a class="gradient-btn" href="/right" >-10</a></div>
                </td>
            </tr>



<!--2            ///////-->
            <tr style="
                text-align :center;">
                <td rowspan = "5">
                    <div><a class="gradient-btn" href="/left" ><img src="../static/images/icons8-back-64.png" alt=""></a></div>
                </td>
                <td colspan="5">
                    <div><a class="gradient-btn" href="/left" >10</a></div>
                </td>
                <td rowspan = "5">
                    <div><a class="gradient-btn" href="/left" ><img src="../static/images/icons8-forward-64.png" alt=""/></a></div>
                </td>
                <td>
                    <div><a class="gradient-btn" href="/right" >0.1</a></div>
                </td>
                <td>
                    <div><a class="gradient-btn" href="/right" >-3</a></div>
                </td>
            </tr>
<!--3            ///////-->
            <tr style="
                text-align :center;">

                <td colspan="5">
                    <div><a class="gradient-btn" href="/left" >1</a></div>
                </td>
                                <td>
                    <div><a class="gradient-btn" href="/right" >0.01</a></div>
                </td>
                                <td>
                    <div><a class="gradient-btn" href="/right" >-1</a></div>
                </td>
            </tr>
<!--4            ///////-->
            <tr style="
                text-align :center;">
                <td>
                    <div><a class="gradient-btn" href="/left" >-10</a></div>
                </td>
                <td>
                    <div><a class="gradient-btn" href="/left" >-1</a></div>
                </td>
                <td>
                    <div><a class="gradient-btn" href="/left" >XY</a></div>
                </td>
                <td>
                    <div><a class="gradient-btn" href="/left" >1</a></div>
                </td>
                <td>
                    <div><a class="gradient-btn" href="/left" >10</a></div>
                </td>
                                            <td>
                    <div><a class="gradient-btn" href="/right" >Z</a></div>
                </td>
                                            <td>
                    <div><a class="gradient-btn" href="/right" >E0</a></div>
                </td>
            </tr>
<!--5            ///////-->
            <tr style="
                text-align :center;">
                <td colspan="5">
                    <div><a class="gradient-btn" href="/left" >-1</a></div>
                </td>
                                <td>
                    <div><a class="gradient-btn" href="/right" >-0.01</a></div>
                </td>
                                <td>
                    <div><a class="gradient-btn" href="/right" >1</a></div>
                </td>
            </tr>
<!--6            ///////-->
            <tr style="
                text-align :center;">
                <td colspan="5">
                    <div><a class="gradient-btn" href="/left" >10</a></div>
                </td>
                                <td>
                    <div><a class="gradient-btn" href="/right" >-0.1</a></div>
                </td>
                                <td>
                    <div><a class="gradient-btn" href="/right" >3</a></div>
                </td>
            </tr>
<!--7            ///////-->
            <tr style="
                text-align :center;">
                <td rowspan="2" colspan="2">
                    <div><a class="gradient-btn" href="/left" ><img  src="../static/images/icons8-home-page-32.png" alt=""/>All</a></div>
                </td>
                <td rowspan="2" colspan="3">
                    <div><a class="gradient-btn" href="/left" ><img src="../static/images/icons8-expand-arrow-64.png" alt=""/></a></div>
                </td>
                <td rowspan="2" colspan="2">
                    <div><a class="gradient-btn" href="/left" ><img  src="../static/images/icons8-home-page-32.png" alt=""/>Z</a></div>
                </td>
            <td>
                    <div><a class="gradient-btn" href="/right" >-1</a></div>
                </td>
            <td>
                    <div><a class="gradient-btn" href="/right" >10</a></div>
                </td>
            </tr>
            <tr style="
                text-align :center;">

            <td>
                    <div><a class="gradient-btn" href="/right" ><img src="../static/images/icons8-expand-arrow-32.png" alt=""/></a></div>
                </td>
            <td>
                    <div><a class="gradient-btn" href="/right" ><img src="../static/images/icons8-expand-arrow-32.png" alt=""/></a></div>
                </td>
            </tr>
        </table>
</body>
</html>