<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">

</head>
<body>
    <h1>
        <b>IT-courses</b>
    </h1>
        <table class="center">
            <tr style="width: 100%">
                <td class="point">
                    <b>Game development</b></td>
                <td class="point">
                    <b>Web-design</b></td>
                <td class="point">
                    <b>Machine learning</b></td>
            <tr style="
                text-align :center;">
                <td>
                    <div><a class="gradient-btn" href="/left" >About<br>this Course</a></div>
                </td>
                <td>
                    <div><a class="gradient-btn" href="/right" >About<br>this Course</a></div>
                </td>
                <td>
                    <div><a class="gradient-btn" href="/Lesson_3" >About<br>this Course</a></div>
                </td>
            </tr>
        </table>
    <div id="table"></div>
<script>
    for i;i<20;i++
    {
        var element = document.getElementById("table");
        element.innerHTML = ""
    }
</script>
</body>
</html>